.raccess li {
	float: right;
	position: relative;
	padding: 0 20px 0 0;
}

.raccess a {
	color: #777;
}

.menu-selected a {
	color: #05A9C5;
}

.menu-unselected a {
	color: #777;
}

.hidden {
	color: #FFF;
	font-size: 25%;
}

.our-banner {
	padding-top: 10px;
	padding-bottom: 35px;
}

.banneradd {
	margin-left: 0px;
	margin-right: 0px;
	border-bottom: 1px solid #EAEAEA;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
}

.button-bar {
	padding-top: 10px;
	padding-bottom: 10px;	
}

#intro-text {
	float: left;
	width: 50.0%;
}

#main-add {
	float: left;
	margin-left: 3.06%;
	width: 31.28%;
}
